*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   



.navbar-brand{
    color: black;
    font-weight: bold;
}
.nav navbar-nav.active{
    font-weight: bold;
    padding-left: 50px;

}
li{
    display: block;
    
}
.sizes{
    background-color: chocolate;
    border-radius: 50px;
    margin: 8px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    width: 40px;
    height: 4vh;
    text-align: center;
}
.giyhub{
    color: rgb(223, 221, 221);
    text-align: center;
}
.free{
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2px;
    position: center;
    
}
hr{
   width: 50px;
   background-color: orange;
   height: 0.5vh;
   margin-left: 160px;
   shape-outside: linear-gradient(grey);
}
.thumbnail{
    border: none;
    width: auto;
    height: fit-content;
}
.thumbnail img{
    height: 40vh;
}
.active{
    padding-top: 2rem;
    font-weight: bold;
    font-size: 24px;
    color: rgb(133, 133, 133);
}
.navbar-default{
    border: none;
    background-color: rgb(255, 255, 255);
    height: 10vh;
}
nav navbar-nav navbar-right{
    display: flex;
    justify-content: end;
}